**/*checkpoint*/
/squad2.0
# Ignore all files in the eusquad_v1.0 directory
eusquad_v1.0/*
# Do not ignore the convert_json.py file
!eusquad_v1.0/convert_json.py

# Ignore all files in best_model folders
**/best_model/**

# Allow training/loss curves files
!**/best_model/**/train_loss_curve*

filtered_predictions.json
filtered_truth.json
/__pycache__
